# Ignore bin directory
bin/

# Ignore obj directory
obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo

# Ignore build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]ssets.build/

# Ignore common extension files
*.log
*.vspscc
*.vssscc
*.tmp
*.tmp.*

# Ignore temporary files
[Tt]humbs.db
*.DS_Store
